#drumkit {
    --c-text: #D9D9D9;
    --c-accent: #D00000;
    --c-accent-alt: #0021CE;
    --c-bg: #081246;
    --c-bg-accent: #0F1C5C;
    --c-border: #BBB;

    font-family: 'Times New Roman', Times, serif;
    color: var(--c-text);
    background-color: var(--c-bg);
}
