#player {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & #audio-file-input {
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    & #sliders {
        width: fit-content;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;

        & label {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & input[type="range"] {
            appearance: slider-vertical;
            width: 50px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

    }

}