.Toggle-Container {
    position: relative;
    width: 70px;
    height: 32px;
    background-color: #c4c4c4;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    padding: 2px;
    margin-top: 20px;

}

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    width: 38px;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #1d40dd;
    box-shadow: 0 2px 4px, rgb(0, 0, 0, 0.25);
    padding: 8px 14px;
    border-radius: 3px;
    position: absolute;
    transition: all 0.2s ease;
    left: 34px;
}

.disabled {
    background-color: #707070;
    left: 2px;
}